set hlsearch         " 検索文字列をハイライトする
set incsearch        " インクリメンタルサーチを行う
set ignorecase       " 大文字と小文字を区別しない
set smartcase        " 大文字と小文字が混在した言葉で検索を行った場合に限り、大文字と小文字を区別する
set wrapscan         " 最後尾まで検索を終えたら次の検索で先頭に移る
set gdefault         " 置換の時 g オプションをデフォルトで有効にする
set clipboard=unnamed,unnamedplus,autoselect     " OSのクリップボードをレジスタ指定無しで Yank, Put 出来るようにする

" Emulated Vim Plugins -------------------------------------
" https://github.com/JetBrains/ideavim

set surround
set multiple-cursors

" key bindings ---------------------------------------------
nnoremap ; :
nnoremap <Tab> gt
nnoremap <S-Tab> gT
nnoremap s <C-w>

" error description
nnoremap <Leader>e :action ShowErrorDescription<CR>
vnoremap <Leader>e :action ShowErrorDescription<CR>

" コメントアウト
nnoremap <Leader>c :action CommentByLineComment<CR>
vnoremap <Leader>c :action CommentByLineComment<CR>

nnoremap <Leader>b :action CommentByBlockComment<CR>
vnoremap <Leader>b :action CommentByBlockComment<CR>

" 前/次のメソッド定義へジャンプ
nnoremap [m :<C-u>action MethodUp<CR>
nnoremap ]m :<C-u>action MethodDown<CR>

" 前/次の変更箇所へジャンプ
nnoremap [c :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap ]c :<C-u>action VcsShowNextChangeMarker<CR>

" 前/次のエラー箇所へジャンプ
nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>

" 前回の変更箇所へジャンプ
nnoremap g; :<C-u>action JumpToLastChange<CR>
nnoremap g, :<C-u>action JumpToNextChange<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

" 参考
" https://ikenox.info/blog/ideavim-introduction 
" https://qiita.com/sei40kr/items/09e7e92eb7686f9b5950 
" https://tikasan.hatenablog.com/entry/2018/07/30/110000 

" MEMO:
" Cmd+E: 直近のファイル一覧
" Cmd+1: ナビゲーションバーの表示; 矢印とEnterで移動と開くができる
" Cmd+'+', '-': Fold/Unfold code lines

" XXX:
" Run   -> Opt+R
" Debug -> Opt+D
"
" Up    -> Ctrl+J
" Down  -> Ctrl+K
"
" Settings for Code Complete
" Choose Lookup Item -> Tab
" Choose Lookup Item Replace -> Enter
